.bg-image {
  background-image: url("../../public/image/background_image.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}
