.bg-image {
  background-image: url("https://images.pexels.com/photos/853168/pexels-photo-853168.jpeg?cs=srgb&dl=backlit-clouds-friends-853168.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;

  .container {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
}