.login {
  background-color: rgba(0, 0, 0, 0.6) !important;

  label {
    color: #fff;
  }

  hr {
    border-top: 2px solid #928d8d !important;
  }

  .card-header {
    color: #fff;
    background-color: rgba(0, 0, 0, -0.4) !important;
    padding: 50px;
    border-bottom: 0 !important;
  }
}