.navbar-laravel {
  background-color: #292e41 !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.navbar-light .navbar-brand {
  color: #fff !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #fff !important;
}

.navbar-expand-md .navbar-nav .dropdown-menu {
  background-color: #2b3242 !important;
}

.card {
  background-color: #292e41;
}

.card-header {
  color: #fff;
  background-color: #292e41;
  border-bottom: 0;
}

.card-control {
  float: right;
}

.card-title {
  color: #fff !important;
}

.card-text {
  color: #fff !important;
}

.card-border {
  border: 1px solid #fff;
}

.col-form-label {
  color: #fff !important;
}

.modal-title {
  color: #fff;
}

.modal.docked {

  .modal-content {
    background-color: #292e41 !important;
  }

}

.table thead th {
  color: #fff !important;
}

.table th, .table td {
  color: #fff !important;
}

.background-color {
  background-color: #5a626f !important;
}

.dark-theme-border {
  border: 1px solid #fff;
}

html {
  background-color: #5a626f !important;
}

label {
  color: #fff;
}

a {
  color: #81c5ff;
}

a:hover {
  color: #31a0ff;
}

p {
  color: #fff;
}


hr {
  border-top: 2px solid #928d8d !important;
}

.dropdown-item {
  color: #ffffff;
}

.el-table th, .el-table tr {
  background-color: #292e41 !important;
}

.el-table__body tr.hover-row > td {
  background-color: #58626e !important;
}

.el-table--enable-row-hover .el-table__body tr:hover>td {
  background-color: #58626e !important;
}

.el-table th > .cell {
  color: #fff;
}

.el-table .cell {
  color: #fff;
}

.el-table__empty-block {
  background-color: #292e41 !important;
}

.v-select .dropdown-toggle {
  background: #fff !important;
}

.title-color {
  color: #848484 !important;
}